*{
   margin: 0px;
   padding: 5px; 
}
 body {
    background-image: url('background/blackk.jpg');
  }
          p1{
              position-absolute;
              color: #fff;
              left: 60%;
              bottom: 35%;
              text-align: right;
              font-family: Georgia;
              font-size: 20px;
            
          }
          div{
              width: 800px;
      border: 8px #000000;
      padding: 10px;
      margin: 20px;
    position: absolute;
    left: 20%;
    bottom: 45%;
          }
          div2{
              width: 800px;
      border: 8px #000000;
      padding: 10px;
      margin: 20px;
    position: absolute;
    left: 20%;
    bottom: -15%;
          }
          h1{
              text-align: center;
              color: #f3c51f;
              
  
          }
          h2{
              color: #f3c51f;
          }
          h5{
              color: #f3c51f;
          }
          div3{
            width: 800px;
    border: 8px #000000;
    padding: 10px;
    margin: 20px;
  position: absolute;
  left: 20%;
  bottom: -78%;
          }   
        div4{
          width: 800px;
  border: 8px #000000;
  padding: 10px;
  margin: 20px;
position: absolute;
left: 20%;
bottom: -138%;
        }   
        div5{
            width: 800px;
    border: 8px #000000;
    padding: 10px;
    margin: 20px;
  position: absolute;
  left: 20%;
  bottom: -198%;
          }   
          div6{
            width: 800px;
    border: 8px #000000;
    padding: 10px;
    margin: 20px;
  position: absolute;
  left: 20%;
  bottom: -260%;
          }   
  